{% assign navigation = site.data.navigation[include.nav] %}

<nav class="nav__list">
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>
   <ul class="nav__items"> <!-- 여러 nav를 위해 -->
    <li>
      <ul> <!-- 여러 category를 위해 -->
        {% if navigation[0].all %}
        {% for category in site.categories %}
          <li style="padding-top: 0px; padding-bottom: 0px;">
            <a href="/categories/#{{ category[0] | slugify }}">
              <strong style="font-size: 16px;">{{ category[0] }}</strong> <span class="taxonomy__count" style="font-size: 14px;">{{ category[1].size }}</span>
            </a>
            <ul> <!-- 여러 post를 위해 -->
              {% for post in category[1] %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>                  
              </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        {% endif %}
      </ul>
    </li>
  </ul>


  